<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Students Details </title>
</head>
<body>
    <h2> Students Details Entry Form </h2>
    {% for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert danger">
            {{message}}
        </div>
    {% endfor %}

    <form action="{{ request.path }}" method="post">
        <label for="name">NAME :</label>
        <input type="text" name="sname" placeholder="name" /> <br>
        <label for="sclass">CLASS :</label>
        <input type="text" name="scls" placeholder="cls" /> <br>
        <label for="city">CITY :</label>
        <input type="text" name="city" placeholder="city" /> <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>